.dark {
    --main: hsl(0, 0%, 8%);
    --hov: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 16%);
    --main-font: hsl(0, 0%, 90%);
    --mute-font: hsl(0, 0%, 70%);
    --btn-h: hsl(0, 0%, 25%);
    --f: hsl(120, 20%, 38%);
    --fc: hsl(120, 34%, 80%);

    --not-e: hsl(0, 54%, 28%);
    --not-ec: hsl(0, 54%, 88%);

    --not-s: hsl(120, 55%, 19%);
    --not-sc: hsl(120, 55%, 90%);
}

.light {
    --main: hsl(0, 0%, 92%);
    --hov: hsl(0, 0%, 84%);
    --bg: hsl(0, 0%, 100%);
    --main-font: hsl(0, 0%, 10%);
    --mute-font: hsl(0, 0%, 30%);
    --btn-h: hsl(0, 0%, 85%);
    --f: hsl(120, 25%, 40%);
    --fc: hsl(120, 34%, 70%);

    --not-e: hsl(359, 62%, 47%);
    --not-ec: hsl(359, 62%, 87%);

    --not-s: hsl(120, 55%, 34%);
    --not-sc: hsl(120, 55%, 89%);
}